@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


@media screen and ( max-width : 960px) {


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #131313;
}

.container {

    overflow: hidden;

    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 100px;
    z-index: 99;

}


.logo {
    margin-top: 5%;
    cursor: pointer;
    margin-left: 5%;
    
}


.logo a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    text-emphasis: none;
    color: #fff;
    transition: all 0.3s ease-out;
    margin: 0;
    padding: 0;
   
    width: 100%;
   

}



.logo .logoo:hover {

    background: rgb(70,204,255);
    background: linear-gradient(90deg, rgba(70,204,255,1) 4%, rgba(250,250,250,1) 50%, rgba(190,244,255,1) 71%);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* transition: all 0.3s ease-out; */
    font-size: 1.8rem;
}
.logo .logo1:hover {

    background: rgb(70,204,255);
    background: linear-gradient(90deg, rgba(70,204,255,1) 4%, rgba(250,250,250,1) 50%, rgba(190,244,255,1) 71%);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* transition: all 0.3s ease-out; */
    font-size: 1.8rem;
}
.logo .logo2:hover {

    background: rgb(70,204,255);
    background: linear-gradient(90deg, rgba(70,204,255,1) 4%, rgba(250,250,250,1) 50%, rgba(190,244,255,1) 71%);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* transition: all 0.3s ease-out; */
    font-size: 1.8rem;
}
.logo .logo3:hover {

    background: rgb(206,40,242);
    background: linear-gradient(180deg, rgba(206,40,242,1) 10%, rgba(255,219,0,1) 41%, rgba(232,124,124,1) 71%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: all 0.3s ease-out;
    font-size: 3rem;
}
.logo .logo4:hover {

    background: rgb(70,204,255);
    background: linear-gradient(90deg, rgba(70,204,255,1) 4%, rgba(250,250,250,1) 50%, rgba(190,244,255,1) 71%);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* transition: all 0.3s ease-out; */
    font-size: 1.8rem;
}
.logo .logo5:hover {

    background: rgb(70,204,255);
    background: linear-gradient(90deg, rgba(70,204,255,1) 4%, rgba(250,250,250,1) 50%, rgba(190,244,255,1) 71%);
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    /* transition: all 0.3s ease-out; */
    font-size: 1.8rem;
}

.mobile_view .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

.mobile_view .bar {
    display: block;
    cursor: pointer;

}

#mobile {
    position: absolute;
    margin-top: 5%;
    right: 5%;
    transform: translate(5% ,20%)

}

.list-menu {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    position: absolute;
    align-items: center;
    align-content: center;
    transition: all 0.3s ease;
    height: auto;
    width: 100%;
    margin: 0;
    top: -1000px;
    opacity: 0;
    z-index: -1; 
  }

}

.list-menu.active {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    position: absolute;
    align-items: center;
    align-content: center;
    transition: all 0.7s ease;
    height: auto;
    width: 100%;
    margin: 0;
    top: 120px;
    opacity: 1;
    z-index: -1; 

}


.list {
    cursor: pointer;
    justify-content: center;
    align-content: center;
    align-items: center ;
    height: 100px;
    width: 100%;
    list-style: none;
    text-emphasis: none;
    text-decoration: none;

}



.list a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
}



.list-items {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
    display: table;
}

li {
    /* background-color: white; */
    width: 100%;
    height: 100%;
}

li::after {
    content: "";
    background-color: #fff;
    height: 3px;
    width: 0;
    right: 0;
    /* left: 0; */
    /* bottom: 0; */
    transition: all 0.5s 0s;
    position: absolute;
}

li:hover::after {
    width: 100%;
}

.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 5px 25px;
    border-radius: 50px;
    border: none;
    width: 100%;
    text-decoration: none;
    background-color: #fff;
    color: #131313;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 15px #fff ;
}

.btn:hover {
    color: #fff;
    background-color: #131313;
}



#mobile.is-active .bar:nth-child(2) {
    opacity: 0;
}
#mobile.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
#mobile.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

}